body {
	line-height:25px;
	font-size:15px;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height:25px;
}
.italic 
{
	font-style: italic;
}

.table
{
	display:table;
}

.table-row 
{
	display:table-row;
}

.table-cell
{
	display:table-cell;
}

.float-right
{
	float:right;
}

.grey
{
	color:#ccc;
}

.black
{
	color:#212121;
}

.smaller
{
	font-size:0.875em;
}

/* Specific Styles */
.container 
{
	max-width: 730px;
}

.player 
{
	display:block;
	width:640px;
	margin:0 auto;
}

.track > div 
{
	display:inline-block;
}

.playNumber
{
	font-size: 1em;
}

.playTrack
{
	cursor:pointer;
	max-width: 500px;
}

.nowPlaying
{
	font-weight:700;
}

.footer h2, .footer h4
{
	text-align:right;
}

.track .playIcon
{
	display:none;
}
.track:not(.nowPlaying):hover .playNum 
{
	display:none;
}
.track .nowPlayingIcon
{
	display:none;
}
.track:not(.nowPlaying):hover .nowPlayingIcon 
{
	display:none;
}
.track:not(.nowPlaying):hover .playIcon
{
	display:inline;
}
.track.nowPlaying .nowPlayingIcon
{
	display:inline;
}
.track.nowPlaying .playNum
{
	display:none;
}
.track.nowPlaying .playIcon
{
	display:none;
}
.flock
{
	display:inline-block;
}
.beta-stamp
{
	color:#fff;
	background-color: #a13761;
	border-radius: 10%;
	position: relative;
	top: -9px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.775em;
	padding: 3px 5px;
	margin-left: 4px;
}