<!DOCTYPE html>
<html lang="en">
	<head>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46021850-1', 'rblstr.com');
		  ga('send', 'pageview');

		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>flock - subreddit playlister</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/flock.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<a href="/" class="black"><h1>flock</h1></a>
			<form action="/" method="get">
				<!-- Subreddits: <input type="text" name="subreddits" value="{{subreddits}}" />
				<button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play"></span> Play </button>
				<span>{{error}}</span> -->

				<div class="row">
					<div class="col-lg-12">
						<div class="input-group">
					      <input type="text" placeholder="subreddit subreddit subreddit" class="form-control" name="subreddits" value="{{subreddits}}" />
					      <span class="input-group-btn">
					        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Play </button>
					      </span>
					    </div><!-- /input-group -->
			    	</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
				{% with errors = get_flashed_messages(category_filter=["error"]) %}
					{% if errors %}
						<div class="errors">
							{% for error in errors %}
								<div class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<strong>Error!</strong> {{error}}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}
			</form>
			<br/>
			{% if links %}
				<ul class="nav nav-pills">
					<li {% if sort == "top" %} class='active' {% endif %}><a href="javascript:void(0);" onclick="addArg('sort', 'top')">Top</a></li>
					<li {% if sort == "hot" %} class='active' {% endif %}><a href="javascript:void(0);" onclick="addArg('sort', 'hot')">Hot</a></li>
				</li>

				<br>

				<iframe id="player" class="player" type="text/html" width="640" height="360" src="{{youtube_url}}" frameborder="0" allowfullscreen></iframe>

				<br>

				<!-- The list of tracks and such -->
				<table class="table table-striped">
					<tbody>
						{% for link in links %}
							<tr class="track" data-playnum="{{ loop.index0 }}">
								<td class="playNumber playTrack">
									<span class="playNum">{{ loop.index }}</span>
									<span class="glyphicon glyphicon-play grey playIcon"></span>
									<span class="glyphicon glyphicon-volume-down nowPlayingIcon"></span>
								</td>
								<td class="playTrack">
									<span class="playTitle">{{ link.get("title") }}</span>
									<span class="comments">
										<a class="commentNum" target="_blank" href="{{ link.get("permalink") }}">
									
											<span class="glyphicon glyphicon-comment"></span>
											{{link.get("num_comments")}}</a>
										</a>
									</span>
								</td>
								<td class="">
									<span class="youtube">
										<a class="italic permalink" target="_blank" href="{{ link.get("url") }}">
											<span class="glyphicon glyphicon-film"></span>
											YouTube
										</a>
									</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

			<div class="footer">
				<h2>with <span class="glyphicon glyphicon-heart"></span> from <a target="_blank" href="http://github.com/rblstr">@rblstr</a> and <a target="_blank" href="http://github.com/rorokeeffe">@rorokeeffe</a></h2>
			</div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	    <!-- Include all compiled plugins (for now) -->
	    <script src="js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var tag = document.createElement('script'),
				first_script_tag,
				player;

			tag.src = "https://www.youtube.com/iframe_api";
			first_script_tag = document.getElementsByTagName('script')[0];
			first_script_tag.parentNode.insertBefore(tag, first_script_tag);

			function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
				  events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange
				  }
				});
			}

			$(document).ready(function() {
				$('.playTrack').on('click', function() {
					player.playVideoAt($(this).parent().data('playnum'));
					updateNowPlaying();
				});

				$('.commentNum').on('click', function(e) {
					e.stopPropagation();
				});
			});
	
			function onPlayerReady(event)
			{
				//updateNowPlaying();
			}

			function onPlayerStateChange(event)
			{
				updateNowPlaying();
			}

			function updateNowPlaying()
			{
				if(player)
				{
					var currentlyPlayingIndex = player.getPlaylistIndex(),
						nowPlaying = $('.track.nowPlaying'),
						currentlyPlayingTrackRow = $('.track[data-playnum = \'' + currentlyPlayingIndex + '\']');

					nowPlaying.removeClass('nowPlaying');
					currentlyPlayingTrackRow.addClass('nowPlaying');

					document.title = 'flock - ' + currentlyPlayingTrackRow.find('.playTitle').html();
				}
			}

			function addArg(key, value)
			{
				var newUrl = window.location.href;
				if(newUrl.indexOf('&sort=') > 0)
				{
					newUrl = newUrl.replace('&sort=top', '');
					newUrl = newUrl.replace('&sort=hot', '');
				}
				window.location = newUrl + '&' + key + '=' + value;
			}
	    </script>
	</body>
</html>
