<!DOCTYPE html>
<html>
	<head>
		<title>flock - subreddit playlister</title>
	</head>
	<body>
		<h1>flock</h1>
		<form action="/" method="get">
			Subreddits:<input type="text" name="subreddits" value="{{subreddits}}">
			<input type="submit" value="Submit">
			<span>{{error}}</span>
		</form>
		<br>
		<iframe width="560" height="315" src="{{youtube_url}}" frameborder="0" allowfullscreen></iframe>
		<br>
		<ol>
		{% for link in links %}
			<li>
				<a href="{{link.get("url")}}">{{link.get("title")}}</a>
			</li>
		{% endfor %}
		</ol>
	</body>
</html>
